# Build artifacts
build
.next/
.turbo/
_next/
__tmp__/
dist/
target/
compiled/

package-lock.json
yarn.lock
pnpm-lock.yaml

packages/**/*.d.ts
packages/**/*.js
.nyc_output

**/.next
**/.nx/cache
**/.svelte-kit
**/build
**/coverage
**/dist
**/query-codemods/**/__testfixtures__
.changeset/*.md
packages/**/tsup.config.bundled*.mjs
**/tsconfig.vitest-temp.json
docs/framework/*/reference